body{
    background-color:rgb(241, 241, 241);
    /* background-image: url("image1.jpg");
    background-repeat: repeat-x; */

}
.Brand{
    margin-top:20px;
}
.brandTitle{
  
    vertical-align: middle;
    font-weight: bold;
    font-size: 150%;

}
.content{
    margin-top: 50px;;

}
.Logo{
    max-width: 90px;
    margin-right: -20px;
    width: 100%;
}
.main{
    text-align: center;
    margin:100px;
    border: 1px solid;
    height:500px;
    width: 500px;
    background-color:rgb(174, 218, 203);
    margin-left: 35%;
}
#Btn{
    background-color: White; /* Green */
    text-align: center;
    padding: 14px 40px;
}
#Btn:hover {
    background-color:black; /* Green */
    color: white;
  }
  .popup{
      position:fixed;
      top:20%;
      right: 35%;
      transform: translate(-50%, -50);
      background: white;
      width:450px;
      height: 300px;
      box-shadow: 0 25px 50px rgba(0,0,0,0,1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      color:yellow;
      visibility: hidden;
  }
  .popup.active{
      visibility: visible;
  }
  .close{
    position: absolute;
    top: 0;
    right:0;
    padding:10px 20px;
    background:#f00;
    color:#fff;
    cursor: pointer;
  }
  #my-canvas{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100vh;
      z-index: 100000;
      visibility: hidden;
      pointer-events: none;
  }
  #my-canvas.active{
    visibility: visible;
  }
  #demo{
      color: black;
      position: relative;
      top:50px;
      font-size:40px;
      font-family: 'Courier New', Courier, monospace;
  }
  .title{
    position: absolute;
      font-size:50px;
      color:black;
      top:50px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }