body{
    background-color:rgb(174, 218, 203);
}

.brandTitle{
    vertical-align: middle;
    font-weight: bold;
    font-size: 150%;

}
.Logo{
    max-width: 90px;
    margin-right: -20px;
    width: 100%;
}
.main{
    text-align: center;
    margin:100px;
    border: 1px solid;
    height:500px;
}